input[type="date"] {
  color: #000;
  &::-webkit-datetime-edit-month-field {
    color: black;
  }
  &::-webkit-datetime-edit-day-field {
    color: black;
  }
  &::-webkit-datetime-edit-year-field {
    color: black;
  }
}
